server {
    listen 80 default_server;
    listen [::]:80 default_server;

    include /etc/nginx/letsencrypt-acme-challenge.conf;

    location / {
        return 301 https://{{ domain_name }}$request_uri;
    }
}
