[Unit]
Description=Heartface Celery Beat
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/usr/local/lib/heartface/current
ExecStart=/usr/local/lib/heartface/current/env/bin/celery beat -A heartface --scheduler django_celery_beat.schedulers:DatabaseScheduler --loglevel=INFO --pidfile /var/lib/heartface/celery/beat.pid
Restart=always

[Install]
WantedBy=multi-user.target
