[Unit]
Description=Heartface Celery Flower
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/usr/local/lib/heartface/current
ExecStart=/usr/local/lib/heartface/current/env/bin/celery flower -A heartface --loglevel=INFO  --address=127.0.0.1 --port=5556 --basic-auth=celery:Uwi8nohtoe --persistent=True --db=/var/lib/heartface/celery/flower.db
Restart=always

[Install]
WantedBy=multi-user.target
