init.sh
*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
*.db
db/
test_db/
.vagrant
env/
assets/*
debug/*
*.ini
prov

ision/playbook.retry
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

tests/scripts/.auth_token
tests/scripts/00_local_settings

provision/playbook.retry

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-project
*.sublime-workspace
/.idea/

*/settings/local.py
media/*

# Celery
celerybeat-schedule


crawlers/images/full/*
