server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name  {{ ghost_domain_name }};

    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{ ghost_domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ghost_domain_name }}/privkey.pem;
    ssl_session_timeout 10m;
    keepalive_timeout 70;

    client_max_body_size 150M;

    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_pass   http://127.0.0.1:8080;
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name {{ ghost_domain_name }};
    keepalive_timeout 70;

    include /etc/nginx/letsencrypt-acme-challenge.conf;

    location / {
        return 301 https://{{ ghost_domain_name }}$request_uri;
    }
}
